{% extends 'base.html' %}

{% block title_content %} 
Complaint Confirmation
{% endblock %}

{% block content %}
<style>

    body {
        background-image: url('https://images.unsplash.com/photo-1582481725274-d63bdf929a90?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-repeat: no-repeat;
        text-align: center;
        background-size: cover;
    }

    .footer {
        margin-top: 20px; \
      }
      
      .about-section {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        max-width: 700px; 
        margin: 0 auto; 

</style>
<div class="container text-center">
    <h1>Complaint/Query Confirmation</h1>
    <div class="alert alert-info">
        <strong>Info!</strong> You have successfully submitted your complaint/query.
    </div>
</div>

<div class="about-section">
    <div class="row">
        <h2 class="strong">Complaint/Query Confirmation</h2>
        <p class="lead">"Thank you for reaching out to us with your complaint/query. Your feedback is important to us, and we appreciate the opportunity to address your concerns."</p>
        <p>We value your engagement with Greenwood University, and we are committed to providing timely and effective responses to all complaints and queries we receive. Rest assured that your message has been received, and our team will work diligently to resolve any issues or answer any questions you may have.</p>
        <p>If you have any further questions or require additional assistance, please feel free to contact us again. We are here to support you in any way we can.</p>
    </div>
</div>
</div>
<br>
<div style="background-color: rgba(0, 0, 0, 0.5); padding: 20px;">
    <h4 style="color: white;">Please click on Home above the page to reach the home page</h4>
</div>


{% endblock %}
